AddDefaultCharset UTF-8

RewriteEngine On
#RewriteCond %{HTTP_HOST} ^www.(.*)$
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [NC,L]